#header {
  height: 50px;
  background: #10284e;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #10284e;
}

/* Breadcrumbs background */
div.breadcrumbs {
  background: #30caa0;
  color: #10284e;
}

/* Breadcrumbs links */
div.breadcrumbs a {
  color: #333;
}
