{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">45 Drivewood Circle</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> Norwood MA, 02062</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="listings.html">Listings</a>
          </li>
          <li class="breadcrumb-item active">42 Drivewood Circle</li>
        </ol>
      </nav>
    </div>
  </section>



{% endblock content %}